@import 'scss/reset';
@import 'scss/base';
@import 'scss/variables';
@import 'scss/bubble';

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

// breakpoint - Mobile: 375px - Desktop: 1366px

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  width: 100vw;
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: $text-color;

  .container {
    width: 315px;
    margin: 46px auto 0 auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px 10px 32px;
    border: solid 3px $header-outlined;
    border-radius: 9px;
    .actions {
      display: flex;
      flex-direction: column;
      color: white;
      font-size: 8px; //36
      img {
        height: 48px;
      }
    }
    .score {
      padding: 14px 24px;
      display: flex;
      align-items: center;
      flex-direction: column;
      background: white;
      border-radius: 6px;


      .label {
        color: $score-color;
        margin-bottom: 10px;
      }
      .number {
        font-size: 28px; //46
      }
    }
  }

  #stepContainer {
    $triangleLength: $sm-size - $sm-bubble-size;
    $heightTriangle: heightTriangle($triangleLength);

    &.step-1 {
      position: relative;
      margin-top: 80px;
      background-position: 68px 68px;

      .bubble {
        left: calc(50% - #{$sm-bubble-size/2}px);
        top: calc($heightTriangle/3)+px;
      }
      &:not(.end-step1) {
        .paper {
          transform: translate(-$triangleLength/2+px, -($heightTriangle/3)+px);
        }
        .rock  {
          transform: translate($triangleLength/2+px,-($heightTriangle/3)+px);
        }
        .scissors {
          transform: translate(0,($heightTriangle/3)*2+px);
        }
      }
    }

    &.end-step1 {
      .paper, .scissors, .rock {
        &.selected {
          z-index: 10;
        }
      }
    }
  }
}

@media (min-width: 760px) {
  body {
    .container {
      width: 700px;
      margin: 46px auto 0 auto;
    }
    .header {
      .actions {
        font-size: 36px;
        img {
          height: 96px;
        }
      }
      .score {
        padding: 20px 46px;
        .label {
          font-size: 12px;
        }
        .number {
          font-size: 48px;
          line-height: 48px;
        }
      }
    }

    #stepContainer {
      $triangleLength: $bg-size - $bg-bubble-size;
      $heightTriangle: heightTriangle($triangleLength);
      &.step-1 {
        margin: 60px auto 0 auto;
        width: $bg-size;
        
        .bubble {
          left: calc(50% - #{$bg-bubble-size/2}px);
          top: calc(heightTriangle($triangleLength)/3)+px;
          width:$bg-bubble-size + px;
          height: $bg-bubble-size + px;

          &:hover {
            transform: scale(1.1);
          }
        }

        &:not(.end-step1) {
          .paper {
            transform: translate(-$triangleLength/2+px, -($heightTriangle/3)+px);
          }
      
          .rock {
            transform: translate($triangleLength/2+px,-($heightTriangle/3)+px);
          }
      
          .scissors {
            transform: translate(0,($heightTriangle/3)*2+px);
          }
        }
      }
    }
  }
}