.bubble {
    position: absolute;
    -webkit-tap-highlight-color: transparent;
    width:$sm-bubble-size + px;
    height: $sm-bubble-size + px;
    transition: transform 0.3s;
    cursor: pointer;
    img {
      margin: auto;
      width: 40%;
    }

    .bubble-border {
      width: 100%;
      height:100%;
      border-radius: 50%; 
    }
    .bubble-content {
      position: absolute;
      display: flex;
      justify-content: center;
      margin-top: 12.5%;
      margin-left: 12.5%;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      background-color: #DCDCDC;
      box-shadow: inset 0 8px #B8BDD1;

    }
    &.paper {
      .bubble-border {
        background:  $paper;
        box-shadow: 0 9px #2747C2;
      }
    }

    &.rock {
      .bubble-border {
        background:  $rock;
        box-shadow: 0 8px #9D1634;
      }
    }

    &.scissors {
      .bubble-border {
        box-shadow: 0 9px #C76C1D;
        background:  $scissors;
      }
    }
  }